db/test.db
public/assets/*
public/uploads/*
config/database.yml
log/*.log
Capfile
*.swo
*.swp
*.swo
*.swn
*.swm
*.*~
*.tmproj
db/schema.rb
.DS_Store
nbproject/
*.out
tmp/
log/
certs/
Termfile
.bundle/
.sass-cache/
public/javascripts/.gitkeep
public/stylesheets/.gitkeep
*.old
server
inbox/*
.rbenv-version
